@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
  font-weight: 500 900;
}

* {
box-sizing: content-box;
}

body {
  font-size: 16px;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  background-image: url('./../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Red Hat Display';
  color:  hsl(224, 23%, 55%);
  background-color: hsl(225, 100%, 94%);
}

header {
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
  border-radius: 18px 18px 0px 0px;
}

.plan-name,
header h2 {
  color: hsl(223, 47%, 23%);
}

header h2,
.plan-name {
  font-weight: 900;
}

.cancel-button {
  font-weight: 900;
}

header h2 {
  margin: 1.5rem auto;
}

article {
  background-color: white;
  max-width: 90%;
  margin: 3rem auto;
  border-radius: 18px;
}

.offer-copy {
  text-align: center;
  margin: 0 auto 1.5rem;
  font-size: 0.95rem;
  width: 86%;
  line-height: 1.8rem;
}

.card-content {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}


a.change-plan-link {
  font-weight: 900;
}

.payment-button,
.cancel-button {
  text-align: center;
  text-decoration: none;
}
.payment-button{
  margin-bottom: 1.5rem;
  box-shadow: 0px 12px 33px -3px rgba(56,41,224,0.75);
-webkit-box-shadow: 0px 12px 33px -3px rgba(56,41,224,0.75);
-moz-box-shadow: 0px 12px 33px -3px rgba(56,41,224,0.75);
}

.payment-button {
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem;
  border-radius: 9px;
  font-weight: 700;
}

.cancel-button {
  text-align: center;
  color:  hsl(225, 100%, 94%);
  color:  hsl(245, 75%, 52%);
  color:  hsl(224, 23%, 55%);
}

.pricing-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: baseline;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 9px;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.pricing-information {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

 @media only screen and (min-width: 1440px) {

  html {
    background-image: url('./../images/pattern-background-desktop.svg');
    background-position: center -300px;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
  }

  article {
    max-width: 30%;
  }

  .offer-copy {
    margin: 0 auto 1.25rem;
    line-height: 1.5rem;
  }


 }
